!.gitignore
*.log
*.lock
*.bak
/autostart
/bcompare
/clash-verge
/Code
/copyq
/dconf
/diffuse
/doublecmd

/electron-flags.conf.old
/EOS-greeter.conf
/eos-update-notifier.first_init

/fcitx
/fcitx5
/gpicview
/gtk-2.0
/gtk-3.0

/ibus

/microsoft-edge

/mimeapps.list

/pavucontrol.ini
/pulse

/systemd
/Thunar
/tilda

/Trolltech.conf
/user-dirs.dirs
/user-dirs.locale
/volumeicon

/xed
/xfce4
/yay

