configuration{
    modi: "run,drun,window";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    icon-theme: "Papirus";
    location: 0;
    disable-history: false;
    sort: true;
    sorting-method: "fzf";
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 﩯  Window";
    display-Network: " 󰤨  Network";
    sidebar-mode: true;
}

@theme "mytheme"

