@import "themes/frappe.css";

* {
    border: none;
    border-radius: 5px;
    font-family: monospace;
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @base; /*rgba(21, 18, 27, 0);*/

}

tooltip {
    background: @base;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: @overlay2;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight,
#mpris,
#custom-change_wallpaper,
#custom-media
 {
    background: @base;
    padding: 0px 5px;
    margin: 3px 0px;
    margin-top: 5px;
    border: 1px solid @base;
}

#tray {
    margin-right: 10px;
}


#workspaces {
    color:@overlay1;
    margin-left: 10px;
    border-right: 5px;
    border-left: 5px;
    padding : 0px 10px 0px 10px;
}


#workspaces button {
    color: @subtext0;
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 10px;
}

#workspaces button.active {
    color: @peach;
}

#workspaces button.focused {
    color: @blue;
    background: @subtext1;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @surface2;
    color: @peach;
    border-radius: 6px;
}

#window {
    color: @peach;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @sky;
}

#network {
    color: @green;
}

#pulseaudio {
    color: @mauve;
}

#pulseaudio.recorder {
    color: @sapphire;
}

#battery {
    color: @green;
}

#battery.charging.critical {
    color: @green;
    font-weight:bold;
}
#battery.discharging.critical {
    color: @red;
    background: @yellow;
    font-weight:bold;
}

#backlight {
    color: @rosewater;
}

#mpris {
    color: @sapphire;
}

#custom-change_wallpaper {
    color: @lavender;
}

#custom-media {
    color: @green;
}

